:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .modal-footer:before, .modal-header:after, .modal-header:before,.btn-toolbar:before, .btn-toolbar:after {
	display: table;
    content: " ";

}
.btn-toolbar:after, .modal-footer:after, .modal-header:after {
	clear: both;
}

.fade {
	opacity:0;
	-webkit-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear;
}
.fade.in {
	opacity:1;
}
.pull-left {
    float: left;
}
.btn-danger.disabled, .btn-danger:disabled {
	cursor: not-allowed;
    color: #fff;
    background-color: rgba(255, 242, 242, 0.22);
    border-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: rgba(255, 242, 242, 0.22);
    border-color: #fff;
}
.btn-default {
    color: #fff;
    background-color: rgba(255, 242, 242, 0.22);
    border-color: #fff;
}
.btn {
	font-size: 19px;
	  border-color: #fff;
    width: 30%;
    top: 91%;
    position: relative;
    left: 3%;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
	border-color: #fff;
	-webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
	color: inherit;
    
    margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
    cursor: pointer;
    font-family:Raleway;
    font-size: inherit;
    line-height: inherit;
}


.close {
	float:right;
	
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	filter:alpha(opacity=20);
	opacity:0.7;
}
.close:focus,.close:hover {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:.5;
}

.modal-open {
	overflow:hidden;
}
.modal {
	font-family: Raleway;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0;
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	-o-transform:translate(0,-25%);
	transform:translate(0,-25%);
	-webkit-transition:-webkit-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:-webkit-transform .3s ease-out;
	transition:transform .3s ease-out;
	transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,10%);
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto;
}
.modal-dialog {
	position:relative;
	width:auto;

}
.modal-content {
	position:relative;
	background-color:#340834;
	background-clip:padding-box;
	border:25px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:25px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5);
	outline:0;
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000;
}

.modal-backdrop.fade {
	filter:alpha(opacity=0);
	opacity:0;
}
.modal-backdrop.in {
	filter:alpha(opacity=50);
	opacity:.5;
}
.h4 {
	font-family: Raleway;
	display: block;
    float: left;
	font-family: Raleway;
    font-weight: 500;
    line-height: 1.1;
	margin-top: 10px;
    margin-bottom: 10px;
	color: white;
    text-align: center;
    font-size: 30px;
	margin-top: 10px;
    margin-bottom: 10px;
	display: block;
   
}
.modal-header {
	display : block;
	padding: 10px;
	border-bottom:1px solid #e5e5e5;
}
.modal-header .close {
	margin-top:-2px;
	padding: 5px 20px 0px 10px;
}
button.close {
	padding:0;
	cursor:pointer;
	background:0 0;
	border:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.modal-title {
	margin:0;
	line-height:1.42857143;
}
.modal-body {
	position:relative;
	padding: 0px;
}
.modal-footer {
	display: block;
	padding:10px;
	text-align:right;
	border-top:1px solid #e5e5e5;
}
.modal-footer .btn+.btn {
	margin-bottom:0;
	margin-left:5px;
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px;
}
.modal-footer .btn-block+.btn-block {
	margin-left:0;
}
.modal-scrollbar-measure {
	position:absolute;
	top:-9999px;
	width:50px;
	height:50px;
	overflow:scroll;
}
.alert-dismissible .close {
	position:relative;
	top:-2px;
	right:-21px;
	color:inherit;
}
@media (min-width:768px) {
	.modal-dialog {
		width:600px;
		
		margin:30px auto;
	}
	.modal-content {
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
		box-shadow:0 5px 15px rgba(0,0,0,.5);
	}
	.modal-sm {
		width:300px;
	}
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 600px;
}
@media (min-width:992px) {
	.modal-lg {
		width:900px;
	}
}